@using TravelTripProje.Models.Sınıflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td><a href="/Admin/BlogSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-success">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog Ekle</a>