
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form method="post">
        <input type="hidden" placeholder="ID" name="Blogid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Mail Adresi" name="Mail" required />
        <textarea placeholder="Yorumunuz" name="Yorum"></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>
